:host{
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  background-color: #CDC1B4;
}
.spot-number{
  background-color: #EEE4DA;
}
.number{
  font-size: 56px;
  display: inline-block;
  height: inherit;
  line-height: 100px;
  color: #776E65;
}

