.wrapper{
  display: block;
  text-align: center;
  margin: -8px;
}
.scene{
  display: inline-block;
  text-align: center;
  width: 100%;
  height: auto;
}
.content{
  background-color: darkslategray;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.content-top{
  display: inline-block;
}
.content-main{
  /*height: 600px;*/
}
