.wrapper{
  display: block;
  text-align: center;
}
.scene{
  display: inline-block;
  text-align: center;
  width: 1024px;
  height: auto;
}
header{
  width: 100%;
  font-size: 28px;
  display: inline-block;
  text-align: center;
}
.content{
  background-color: #F1F8E9;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.content-top{
  display: inline-block;
}
.content-main{
  height: 4000px;
}
