.scoreboard{
  padding: 15px 0px;
  background-color: cadetblue;
  display: inline-block;
  width: 480px;
  border: 10px solid black;
  border-radius: 5px;
  overflow: hidden;
}
.scoreboardHeader{
  color: cadetblue;
}
.scoreline{
  margin: 3px 0px;
}
.position{
  background-color: darkslategray;
  display: inline-block;
  width: 10%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}
.name{
  background-color: darkslategray;
  display: inline-block;
  width: 50%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}
.score{
  vertical-align: top;
  background-color: darkslategray;
  display: inline-block;
  width: 30%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}
